*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #F9F7F4;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  all: unset;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 2px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 88px;
  background: transparent;
  color: #fff;
  display: flex;
  padding: 28.88px 376px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: 0.1s;
}

.logo {
  width: 181.835067749px;
  height: 30.2399997711px;
  cursor: pointer;
}

.list-horizontal {
  display: flex;
  align-items: center;
}
.list-horizontal .list__item {
  margin-right: 50px;
  cursor: pointer;
}
.list-horizontal .list__item a {
  transition: 0.2s;
}
.list-horizontal .list__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.list-horizontal .list__item a:focus {
  color: #EFA501;
}
.list-horizontal .list__item a:hover:after {
  transform: scaleX(1);
}
.list-horizontal .list__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.list-horizontal .list__item:last-child {
  margin-right: 0;
}

.tel {
  cursor: pointer;
}

.scrolled {
  color: #1B1F2B;
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
}
.scrolled .list-horizontal {
  display: flex;
  align-items: center;
}
.scrolled .list-horizontal .list__item {
  margin-right: 50px;
  cursor: pointer;
}
.scrolled .list-horizontal .list__item a {
  transition: 0.2s;
}
.scrolled .list-horizontal .list__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #1B1F2B;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.scrolled .list-horizontal .list__item a:focus {
  color: #EFA501;
}
.scrolled .list-horizontal .list__item a:hover:after {
  transform: scaleX(1);
}
.scrolled .list-horizontal .list__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.scrolled .list-horizontal .list__item:last-child {
  margin-right: 0;
}

.header {
  width: 100%;
  height: 831px;
  background: url("/src/images/header-img.png");
  color: #fff;
  text-align: center;
}
.header h1, .header p, .header div {
  margin-bottom: 50px;
}

.title {
  width: 768px;
  margin: 0 auto;
  padding-top: 207px;
}

.subtitle {
  width: 562px;
  height: 56px;
  margin: 0 auto;
}

.btn {
  width: 118px;
  height: 34px;
  gap: 10px;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: #fff;
  margin: 0 auto;
  cursor: pointer;
  color: #1B1F2B;
  transition: 0.2s;
}
.btn:hover {
  background-color: #EFA501;
  color: #fff;
}
.btn:active {
  background-color: #F8E6BE;
  color: #1B1F2B;
}

.tour {
  text-align: center;
  padding-bottom: 135px;
}
.tour h2 {
  margin-top: 135px;
}
.tour .list-horizontal {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 100px;
  text-align: center;
  width: 700px;
}
.tour .list-horizontal .list__item {
  margin-right: 30px;
  cursor: pointer;
}
.tour .list-horizontal .list__item a {
  transition: 0.2s;
}
.tour .list-horizontal .list__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #1B1F2B;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.tour .list-horizontal .list__item a:focus {
  color: #EFA501;
}
.tour .list-horizontal .list__item a:hover:after {
  transform: scaleX(1);
}
.tour .list-horizontal .list__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.tour .list-horizontal .list__item:last-child {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  height: 1092px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mt-3 {
  margin-bottom: 30px;
}

.cards__item {
  color: #fff;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: start;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.cards__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
  transition: transform 300ms ease;
}
.cards__item .card__top {
  margin: 50px;
}
.cards__item h3 {
  margin-bottom: 16px;
}
.cards__item .card__btn {
  margin: 50px;
  transition: 0.3s;
  border-radius: 50px;
  position: relative;
  width: 199px;
  height: 42px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 8px;
  margin-left: 30px;
}
.cards__item .card__btn::after {
  content: "";
  width: 24px;
  display: inline-block;
  height: 26px;
  background: url("/src/icons/arrow bt copy.svg") no-repeat;
  background-size: contain;
  position: absolute;
  margin-top: 2px;
  margin-left: 15px;
}
.cards__item:hover img {
  transform: scale(1.2);
}
.cards__item:hover .card__btn {
  background-color: #286562;
}

.create .create__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
  margin-top: 30px;
  text-align: center;
  color: Gray;
}
.create .form {
  width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 70px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.create .form .form__item {
  height: 104px;
  position: relative;
  width: 500px;
  margin-bottom: 33px;
}
.create .form .form__item img {
  position: absolute;
  right: 24px;
  top: 66px;
}
.create .form .form__item p {
  width: 100%;
  margin-bottom: 8px;
  height: 28px;
}
.create .form .form__item .form__input {
  width: 100%;
  height: 68px;
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background-color: #F9F7F4;
  padding: 20px;
  gap: 10px;
  transition: 0.2s;
  outline: none;
  resize: none;
  cursor: pointer;
}
.create .form .form__item .form__input:hover {
  background-color: #F4F0E9;
}
.create .form .form__item .form__input:focus {
  border-color: #A6A6A6;
}
.create .form .form__item .form__input .default-select {
  color: #A6A6A6;
}
.create .form .form__item input {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
.create .form .form__item input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  color: #A6A6A6;
}
.create .form .form__item input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  color: #A6A6A6;
}
.create .form .form__item input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
}
.create .form .form__item input[type=radio]::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/radiobutton.svg");
}
.create .form .form__item input[type=radio]:checked:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/radiobutton-check.svg");
}
.create .form .form__item input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
}
.create .form .form__item input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/checkbox.svg");
}
.create .form .form__item input[type=checkbox]:checked:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/checkbox-check.svg");
}
.create .form .form__item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  color: #A6A6A6;
}
.create .form .form__item option {
  color: #000;
}
.create .form .big {
  width: 1030px;
}
.create .form .form__comment {
  height: 188px;
}
.create .form .form__comment textarea {
  height: 153px !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
.create .form .radio {
  height: initial;
}
.create .form .radio label {
  margin-right: 31px;
}
.create .form .radio label span {
  margin-left: 8px;
}
.create .form .checkbox label input {
  margin-right: 19px;
}/*# sourceMappingURL=style.css.map */