*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #F9F7F4;
  overflow-x: hidden;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  all: unset;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 88px;
  background: transparent;
  color: #fff;
  display: flex;
  padding: 28.88px 376px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: 0.1s;
}

.logo {
  width: 182.835067749px;
  height: 34.2399997711px;
  cursor: pointer;
}

.list-horizontal {
  display: flex;
  align-items: center;
  margin-right: 1px;
  margin-top: 4px;
}
.list-horizontal .list__item {
  margin-right: 50px;
  cursor: pointer;
}
.list-horizontal .list__item a {
  transition: 0.2s;
}
.list-horizontal .list__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.list-horizontal .list__item a:focus {
  color: #EFA501;
}
.list-horizontal .list__item a:hover:after {
  transform: scaleX(1);
}
.list-horizontal .list__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.list-horizontal .list__item:last-child {
  margin-right: 0;
}

.tel {
  cursor: pointer;
}

.scrolled {
  color: #1B1F2B;
  background: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
}
.scrolled .list-horizontal {
  display: flex;
  align-items: center;
}
.scrolled .list-horizontal .list__item {
  margin-right: 50px;
  cursor: pointer;
}
.scrolled .list-horizontal .list__item a {
  transition: 0.2s;
}
.scrolled .list-horizontal .list__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #1B1F2B;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.scrolled .list-horizontal .list__item a:focus {
  color: #EFA501;
}
.scrolled .list-horizontal .list__item a:hover:after {
  transform: scaleX(1);
}
.scrolled .list-horizontal .list__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.scrolled .list-horizontal .list__item:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .nav {
    padding: 28.88px 57px;
  }
  .list-horizontal {
    display: flex;
    align-items: center;
  }
  .list-horizontal .list__item {
    margin-right: 30px;
    cursor: pointer;
  }
  .list-horizontal .list__item a {
    transition: 0.2s;
  }
  .list-horizontal .list__item a:after {
    display: block;
    content: "";
    border-bottom: solid 2px #fff;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
  }
  .list-horizontal .list__item a:focus {
    color: #EFA501;
  }
  .list-horizontal .list__item a:hover:after {
    transform: scaleX(1);
  }
  .list-horizontal .list__item a:focus:after {
    transform: scaleX(1);
    border-color: #EFA501;
  }
  .list-horizontal .list__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 360px) {
  .nav {
    width: 360px;
    padding: 33px 20px;
  }
  .list-horizontal {
    display: none !important;
  }
  .logo {
    width: 134px;
    height: 23px;
  }
  .tel {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.header {
  width: 1920px;
  height: 831px;
  background: url("/images/header_big.png");
  color: #fff;
  text-align: center;
}
.header h1, .header p, .header div {
  margin-bottom: 50px;
}
.header .btn {
  width: 118px;
  height: 34px;
  border-radius: 10px;
  padding-top: 6px;
  padding-right: 1px;
  padding-bottom: 5px;
  background-color: #fff;
  margin: 0 auto;
  text-overflow: unset;
  cursor: pointer;
  color: #1B1F2B;
  transition: 0.2s;
  font-size: 18px;
  letter-spacing: -0.5px;
}
.header .btn:hover {
  background-color: #EFA501;
  color: #fff;
}
.header .btn:active {
  background-color: #F8E6BE;
  color: #1B1F2B;
}

.title {
  width: 768px;
  margin: 0 auto;
  padding-top: 207px;
  line-height: 105px;
  letter-spacing: 1.84px;
}

.subtitle {
  width: 562px;
  height: 56px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .header {
    width: 1024px;
    background: url("/images/header_medium.png");
  }
  .header .subtitle {
    width: 405px;
    margin-left: 309px;
    margin-right: 291px;
  }
  .header .btn {
    letter-spacing: 0;
    font-size: 17px;
  }
}
@media (max-width: 360px) {
  .header {
    width: 360px;
    height: 488px;
    background: url("/images/header_small.png");
  }
  .header .title {
    width: 360px;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 141px;
    margin-bottom: 41px;
  }
  .header .subtitle {
    height: 69px;
    width: 310px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 38px;
  }
  .header .btn {
    padding-top: 6px;
    width: 115px;
    font-size: 16px;
  }
}
.tour {
  text-align: center;
  padding-bottom: 130px;
}
.tour .tour__title {
  margin-top: 135px;
}
.tour .list-horizontal {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 105px;
  text-align: center;
  width: 700px;
}
.tour .list-horizontal .list__item {
  margin-right: 30.5px;
  cursor: pointer;
}
.tour .list-horizontal .list__item a {
  transition: 0.2s;
}
.tour .list-horizontal .list__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #1B1F2B;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.tour .list-horizontal .list__item a:focus {
  color: #EFA501;
}
.tour .list-horizontal .list__item a:hover:after {
  transform: scaleX(1);
}
.tour .list-horizontal .list__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.tour .list-horizontal .list__item:last-child {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  height: 1092px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mt-3 {
  margin-bottom: 30px;
}
.mt-3 .card__top {
  margin-top: 50px;
}
.mt-3 h3 {
  margin-bottom: 16px;
}
.mt-3 .card__btn {
  margin-bottom: 43px;
}

.cards__item {
  color: #fff;
  width: 370px;
  height: 530px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: start;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.cards__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
  transition: transform 300ms ease;
}
.cards__item picture {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
  transition: transform 300ms ease;
}
.cards__item .card__top {
  margin: 50px;
}
.cards__item .card__top p {
  letter-spacing: -0.15px;
}
.cards__item h3 {
  margin-bottom: 16px;
}
.cards__item .card__btn {
  margin: 42px;
  transition: 0.3s;
  border-radius: 50px;
  position: relative;
  width: 199px;
  height: 42px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 8px;
  margin-left: 30px;
}
.cards__item .card__btn::after {
  content: "";
  width: 24px;
  display: inline-block;
  height: 26px;
  background: url("/icons/arrow bt copy.svg") no-repeat;
  background-size: contain;
  position: absolute;
  margin-top: 2px;
  margin-left: 15px;
}
.cards__item:hover img {
  transform: scale(1.2);
}
.cards__item:hover .card__btn {
  background-color: #286562;
}

@media (max-width: 1024px) {
  .tour {
    padding-bottom: 134px;
  }
  .cards {
    width: 918PX;
    height: 1629px;
  }
  .tour__list {
    margin-bottom: 104px;
  }
  .cards__item {
    width: 450px;
    height: 531px;
  }
  .cards__item .card__btn {
    margin: 44px;
    margin-left: 30px;
  }
  .cards__item .card__btn::after {
    margin-top: 0;
  }
  .mt-3 {
    margin-bottom: 18px;
  }
  .mt-3 .card__top {
    margin-top: 50px;
  }
  .mt-3 h3 {
    margin-bottom: 16px;
  }
  .mt-3 .card__btn {
    margin-bottom: 43px;
  }
}
@media (max-width: 360px) {
  .tour {
    height: 2172px;
    margin-bottom: 75px;
  }
  .tour .list-horizontal {
    margin-top: 30px;
    display: flex !important;
    width: 370px;
    height: 56px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 51.5px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  .tour .list-horizontal .list__item {
    margin-right: 10px;
    cursor: pointer;
  }
  .tour .list-horizontal .list__item a {
    transition: 0.2s;
  }
  .tour .list-horizontal .list__item a:after {
    display: block;
    content: "";
    border-bottom: solid 2px #1B1F2B;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
  }
  .tour .list-horizontal .list__item a:focus {
    color: #EFA501;
  }
  .tour .list-horizontal .list__item a:hover:after {
    transform: scaleX(1);
  }
  .tour .list-horizontal .list__item a:focus:after {
    transform: scaleX(1);
    border-color: #EFA501;
  }
  .tour .list-horizontal .list__item:last-child {
    margin-right: 0;
  }
  .tour .list-horizontal .list__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
  }
  .tour .list-horizontal .mobile-top__item {
    margin-bottom: 8px;
  }
  .tour .list-horizontal .list__item:last-child {
    margin-right: 10px;
  }
  .tour__title {
    font-weight: 700;
    font-size: 33px;
    line-height: 112%;
    letter-spacing: 1.15px;
    margin-top: 76px !important;
  }
  .cards {
    width: 360px;
  }
  .cards__item {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    margin: 0 21px 18px 21px;
  }
  .cards__item .card__top {
    margin: 25px;
  }
  .cards__item .card__top h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .cards__item .card__top p {
    letter-spacing: -0.65px;
  }
  .cards__item .card__btn {
    padding: 0;
    margin: 16px;
    margin-left: 25px;
    padding-top: 10px;
    font-size: 16px;
  }
  .cards__item .card__btn::after {
    margin-left: 17px;
    margin-top: -3px;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.create h2 {
  margin-top: 4px;
}
.create .create__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0%;
  margin-top: 30px;
  text-align: center;
  color: Gray;
}
.create .form {
  width: 1170px;
  height: 986px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 70px;
  padding-top: 36px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.create .form .form__item {
  height: 104px;
  position: relative;
  width: 500px;
  margin-top: 33px;
}
.create .form .form__item img {
  position: absolute;
  right: 24px;
  top: 66px;
}
.create .form .form__item p {
  width: 100%;
  margin-bottom: 8px;
  height: 28px;
}
.create .form .form__item .form__input {
  width: 100%;
  height: 68px;
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background-color: #F9F7F4;
  padding: 20px;
  gap: 10px;
  transition: 0.2s;
  outline: none;
  resize: none;
  cursor: pointer;
}
.create .form .form__item .form__input:hover {
  background-color: #F4F0E9;
}
.create .form .form__item .form__input:focus {
  border-color: #A6A6A6;
}
.create .form .form__item .form__input .default-select {
  color: #A6A6A6;
}
.create .form .form__item .radio1 {
  margin-left: -4px;
}
.create .form .form__item .radio2 {
  margin-right: 22px;
}
.create .form .form__item input {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
.create .form .form__item input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  color: #A6A6A6;
}
.create .form .form__item input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  color: #A6A6A6;
}
.create .form .form__item input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-top: -4px;
}
.create .form .form__item input[type=radio]::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/radiobutton.svg");
}
.create .form .form__item input[type=radio]:checked:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/radiobutton-check.svg");
}
.create .form .form__item input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.create .form .form__item input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/checkbox.svg");
}
.create .form .form__item input[type=checkbox]:checked:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("/src/icons/checkbox-check.svg");
}
.create .form .form__item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  color: #A6A6A6;
}
.create .form .form__item .select_arrow {
  transition: 0.2s ease;
  pointer-events: none;
}
.create .form .form__item #select:focus + .select_arrow {
  transform: rotate(180deg);
}
.create .form .form__item option {
  color: #000;
  background-color: #F9F7F4;
  transition: 0.2s ease;
}
.create .form .big {
  width: 1030px;
}
.create .form .form__comment {
  height: 188px;
}
.create .form .form__comment .comment {
  height: 153px;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
.create .form .radio {
  height: 64px;
  width: 100%;
}
.create .form .radio label {
  margin-right: 22px;
  cursor: pointer;
}
.create .form .radio label span {
  margin-left: 8px;
}
.create .form .checkbox {
  height: 26px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.create .form .checkbox label {
  color: #A6A6A6;
  letter-spacing: -0.15px;
  cursor: pointer;
}
.create .form .checkbox label input {
  margin-right: 15px;
}
.create .form .checkbox span {
  color: #1B1F2B;
  font-size: 16.5px;
  cursor: pointer;
}
.create .form .checkbox span:hover {
  text-decoration: underline;
}
.create .form .form__buttons {
  display: flex;
  margin-top: 46px;
}
.create .form .form_btn:first-child {
  min-width: 235px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #fff;
  background-color: #286562;
  margin-right: 30px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.create .form .form_btn:first-child:hover {
  background-color: #3B7E7B;
  color: #fff;
}
.create .form .form_btn:first-child:active {
  background-color: #627F7E;
  color: #fff;
}
.create .form .form_btn {
  display: block;
  min-width: 235px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #286562;
  background-color: #E0F0E5;
  margin-right: 30px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.create .form .form_btn:hover {
  background-color: #D9DFDB;
  color: #286562;
}
.create .form .form_btn:active {
  background-color: #F1F3F2;
  color: #286562;
}

@media (max-width: 1024px) {
  .create h2 {
    margin-top: 0;
  }
  .create .form {
    width: 918px;
    height: 966px;
    padding: 60px;
    margin-bottom: -1px;
  }
  .create .form .form__item {
    width: 389px;
    height: 104px;
  }
  .create .form .form__item:nth-child(1) {
    margin-top: 0;
  }
  .create .form .form__item:nth-child(2) {
    margin-top: 0;
  }
  .create .form .form__comment {
    width: 100%;
  }
  .create .form .radio {
    width: 100%;
    margin-top: 116px;
  }
  .create .form .checkbox {
    width: 100%;
    margin-top: -20px;
  }
  .create .form .checkbox .form__checkbox {
    margin-right: 6px;
  }
  .create .form .form__buttons {
    margin-top: -32px;
  }
}
@media (max-width: 360px) {
  .create h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.7px;
    text-align: center;
    margin-bottom: 20px;
  }
  .create .create__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }
  .create .form {
    display: block;
    margin-top: 0;
    width: 318px;
    height: 1110px;
    border-radius: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
  }
  .create .form .form__item {
    margin-top: 0;
    margin-bottom: 30px;
    height: 74px;
  }
  .create .form .form__item img {
    right: 125px;
    top: 49px;
  }
  .create .form .form__item p {
    margin-bottom: 8px;
    height: 23px;
  }
  .create .form .form__item .form__input {
    width: 278px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    height: 43px;
    border-radius: 10px;
    padding: 10px;
    height: 43px;
  }
  .create .form .form__item .form__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .create .form .form__item .form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .create .form .form__item .radio1 {
    margin-left: -12px;
    margin-right: 14px;
  }
  .create .form .form__item input[type=radio] {
    margin-top: -12px;
  }
  .create .form .form__item input[type=radio]::before {
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 7px;
  }
  .create .form .form__item input[type=checkbox]::before {
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 11px;
    left: -34px;
  }
  .create .form .form__comment {
    height: 163px;
  }
  .create .form .form__comment .comment {
    height: 132px;
  }
  .create .form .radio {
    margin: 0;
  }
  .create .form .p-normal {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .create .form .form__buttons {
    display: flex;
    margin-top: 50px;
  }
  .create .form .form__select {
    height: 77px;
    position: relative;
  }
  .create .form .form_btn:first-child {
    min-width: 0;
    height: 47px;
    width: 134px;
    display: block;
    width: 134px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
  }
  .create .form .form_btn {
    min-width: 0;
    height: 47px;
    width: 134px;
    display: block;
    border-radius: 10px;
    padding: 15px;
  }
  .create .form .checkbox {
    padding-left: 30px;
    margin-bottom: -12px;
    margin-top: -5px;
  }
  .create .form .checkbox .p-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
  }
  .create .form .checkbox span {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
  }
  .create .form .checkbox .form__checkbox {
    margin-right: -31px;
  }
  .create .form .checkbox label input {
    margin-right: -30px;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.reviews {
  padding: 135px 375px;
  padding-bottom: 0;
}
.reviews h2 {
  margin-bottom: 1px;
}
.reviews .reviews_subtitle {
  color: #A6A6A6;
  text-align: center;
  margin: 30px auto 100px auto;
}
.reviews .reviews__content {
  display: flex;
}
.reviews .review__item {
  padding: 40px;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 570px;
  min-height: 673px;
  background-color: #F4F0E9;
  border-radius: 50px;
  margin-right: 30px;
}
.reviews .review__reviewer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.reviews .review__reviewer .reviewer__tour {
  color: #A6A6A6;
  font-weight: 380;
  font-size: 17px;
  letter-spacing: -0.15px;
  line-height: 142%;
}
.reviews .review__reviewer .reviewer__name {
  margin-bottom: 8px;
}
.reviews .reviewer__avatar {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

@media (max-width: 1024px) {
  .reviews {
    padding: 135px 53px;
  }
  .reviews .reviews__content {
    margin-bottom: -2px;
  }
  .reviews .review__item {
    min-width: 450px;
    min-height: 841px;
    margin-right: 18px;
  }
}
@media (max-width: 360px) {
  .reviews {
    width: 360px;
    padding: 75px 21px;
    padding-bottom: 76px;
  }
  .reviews h2 {
    font-weight: 700;
    width: 318px;
    font-size: 35px;
    line-height: 108%;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 21px;
  }
  .reviews .p-normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }
  .reviews .reviews__content {
    display: block;
  }
  .reviews .review__item {
    min-width: 317px;
    min-height: 408px;
    border-radius: 20px;
    padding: 20px;
  }
  .reviews .review__item:first-child {
    margin-bottom: 18px;
  }
  .reviews .review__item .review__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 144%;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }
  .reviews .review__item .review__reviewer .reviewer__name {
    font-weight: 700;
    font-size: 23px;
    line-height: 138%;
    letter-spacing: 1px;
  }
  .reviews .review__item .review__reviewer .reviewer__tour {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -1%;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.photos {
  padding: 135px 30px;
  padding-top: 133px;
  padding-bottom: 0;
}
.photos h2 {
  margin-bottom: 2px;
}
.photos .photos__subtitle {
  color: #A6A6A6;
  text-align: center;
  margin: 30px auto 100px auto;
}
.photos .photos__content {
  min-width: 1860px;
}
.photos .photos__first {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.photos .photos__first .photos__item {
  margin-right: 30px;
}
.photos .photos__first .photos__item:last-child {
  margin-right: 0;
}
.photos .photos__first .photos__item:nth-child(2) {
  margin-right: 29px;
}
.photos .photos__first:nth-child(2) {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.photos .photos__first:nth-child(2) .photos__item {
  margin-right: 30px;
}
.photos .photos__first:nth-child(2) .photos__item:last-child {
  margin-right: 0;
}
.photos .photos__first:nth-child(2) .photos__item:first-child {
  margin-right: 29px;
}
.photos .photos__first:nth-child(2) .photos__item:nth-child(2) {
  margin-right: 28px;
}
.photos .photos__first:last-child {
  margin-bottom: 0;
}
.photos .photos__first > picture {
  width: 443.5px;
  height: 301px;
  border-radius: 50px;
}
.photos .photos__second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
.photos .photos__second .photos__item {
  margin-right: 29px;
}
.photos .photos__second .photos__item:last-child {
  margin-right: 0;
}
.photos .photos__second .photos__item:first-child {
  margin-right: 30px;
}
.photos .photos__second > picture {
  width: 349.16px;
  min-height: 301px;
  border-radius: 50px;
}
.photos .photos__first:nth-child(2) > picture:nth-child(4) {
  display: block;
}
.photos .photos__first:nth-child(1) > picture:nth-child(2) {
  display: block;
}
.photos .photos__second > picture:nth-child(5) {
  display: block;
}

@media (max-width: 1024px) {
  .photos {
    padding: 0 20px;
  }
  .photos .photos__subtitle {
    margin: 30px auto 99px auto;
  }
  .photos .photos__content {
    min-width: 1024px;
    margin-bottom: -2px;
  }
  .photos .photos__first {
    width: 100%;
    display: flex;
    margin-bottom: 33px;
  }
  .photos .photos__first .photos__item {
    margin-right: 20px;
  }
  .photos .photos__first .photos__item:last-child {
    margin-right: 0;
  }
  .photos .photos__first .photos__item:nth-child(2) {
    margin-right: 19px;
  }
  .photos .photos__first:nth-child(2) {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  .photos .photos__first:nth-child(2) .photos__item {
    margin-right: 20px;
  }
  .photos .photos__first:nth-child(2) .photos__item:last-child {
    margin-right: 0;
  }
  .photos .photos__first:nth-child(2) .photos__item:first-child {
    margin-right: 19px;
  }
  .photos .photos__first:nth-child(2) .photos__item:nth-child(2) {
    margin-right: 18px;
  }
  .photos .photos__first {
    height: 301px;
    overflow: hidden;
    width: 1024px;
  }
  .photos .photos__first > picture {
    width: 0;
    height: 0;
    min-width: 314.6666564941px;
    min-height: 301px;
    margin-right: 16px;
  }
  .photos .photos__first:nth-child(2) > picture:nth-child(4) {
    display: none;
  }
  .photos .photos__first:nth-child(1) > picture:nth-child(2) {
    display: none;
  }
  .photos .photos__second {
    height: 301px;
    justify-content: start;
  }
  .photos .photos__second .photos__item:last-child {
    margin-right: 0;
  }
  .photos .photos__second .photos__item:nth-child(2) {
    margin-right: 20px;
  }
  .photos .photos__second .photos__item:nth-child(4) {
    margin-right: 20px;
  }
  .photos .photos__second .photos__item:first-child {
    margin-right: 20px;
  }
  .photos .photos__second > picture:nth-child(5) {
    display: block;
  }
  .photos .photos__second > picture:nth-child(3) {
    display: none;
  }
  .photos .photos__second > picture {
    width: 0;
    height: 0;
    min-width: 231px;
    min-height: 301px;
    margin-right: 16px;
    margin-top: -3px;
    overflow: hidden;
  }
}
@media (max-width: 360px) {
  .photos h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.7px;
    text-align: center;
    margin-bottom: -9px;
  }
  .photos .photos__subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 49px;
  }
  .photos .photos__content {
    min-width: 0;
    max-width: 360px;
  }
  .photos .photos__first {
    height: 110px;
    margin-bottom: 20px;
  }
  .photos .photos__first:nth-child(1) > picture:nth-child(3) {
    display: none;
  }
  .photos .photos__first > picture {
    width: 150px;
    height: 112px;
    min-width: 0;
    min-height: 0;
    margin-right: 16px;
    border-radius: 20px;
  }
  .photos .photos__second {
    height: 110px;
    display: flex;
    margin-bottom: 16px;
  }
  .photos .photos__second .photos__item {
    margin-right: 2px;
  }
  .photos .photos__second .photos__item:first-child {
    margin-right: 11px;
  }
  .photos .photos__second .photos__item:nth-child(4) {
    margin-right: 9px;
  }
  .photos .photos__second > picture {
    min-width: 0;
    min-height: 0;
    width: 99.3333358765px;
    height: 111px;
    border-radius: 20px;
    margin-right: 2px;
  }
  .photos .photos__second > picture:nth-child(5) {
    display: block;
  }
  .photos .photos__second > picture:nth-child(2) {
    display: none;
  }
  .photos .photos__second > picture:nth-child(3) {
    display: none;
  }
  .photos .last > picture:nth-child(3) {
    display: none;
  }
  .photos .last > picture:nth-child(4) {
    display: none;
  }
  .photos .last > .photos__item {
    width: 154px;
    margin-right: 11px;
  }
  .photos .last > .photos__item:last-child {
    margin-right: 0;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.story {
  padding: 135px 375px;
}
.story .story__subtitle {
  color: #A6A6A6;
  text-align: center;
  margin: 30px auto 99px auto;
}
.story .story__item {
  color: #fff;
  width: 1170px;
  height: 567px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: start;
  margin-top: 50px;
}
.story .story__item a {
  transition: 0.2s;
}
.story .story__item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out, border-color 200ms ease-in-out;
}
.story .story__item a:focus {
  color: #EFA501;
}
.story .story__item a:hover:after {
  transform: scaleX(1);
}
.story .story__item a:focus:after {
  transform: scaleX(1);
  border-color: #EFA501;
}
.story .story__item picture {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
  transition: transform 300ms ease;
}
.story .story__item .story__top {
  margin: 60px;
  margin-top: 59px;
  width: 554px;
  position: relative;
}
.story .story__item .story__top ul {
  position: absolute;
  top: 220px;
}
.story .story__item .story__top li {
  list-style: none;
  position: relative;
  margin-left: 30px;
}
.story .story__item .story__top li:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: -17px;
}
.story .story__item h3 {
  margin-bottom: 37px;
}
.story .story__item .story__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.story .story__item .story__btn {
  margin-left: 40px;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 50px;
  position: relative;
  width: 199px;
  height: 42px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 8px;
  padding-top: 4px;
}
.story .story__item .story__btn::after {
  content: "";
  width: 24px;
  display: inline-block;
  height: 26px;
  background: url("/icons/arrow bt copy.svg") no-repeat;
  background-size: contain;
  position: absolute;
  margin-top: 2px;
  margin-left: 15px;
}
.story .story__item:hover picture {
  transform: scale(1.2);
}
.story .story__item:hover .story__btn {
  background-color: #286562;
}
.story .story__item .story__links {
  margin-right: 61px;
  display: flex;
  height: 28px;
  margin-bottom: 58px;
}
.story .story__item .story__links a {
  margin-left: 35px;
}
.story .story__item .story__links a:first-child {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .story {
    padding: 135px 53px;
    padding-top: 137px;
  }
  .story .story__item {
    width: 918px;
  }
  .story .story__item .story__top {
    margin-top: 61px;
  }
  .story .story__item .story__actions .story__btn {
    margin-bottom: 49px;
  }
}
@media (max-width: 360px) {
  .story {
    padding: 75px 21px 0 21px;
  }
  .story h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 34px;
    line-height: 116%;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 20px;
  }
  .story .story__subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }
  .story .story__item {
    width: 318px;
    height: 455px;
    border-radius: 20px;
    margin-top: 20px;
  }
  .story .story__item .story__top {
    margin: 30px;
    width: 263px;
  }
  .story .story__item .story__top h3 {
    font-family: Roboto;
    height: 56px;
    width: 150px;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    letter-spacing: 0.9px;
    margin-bottom: 20px;
  }
  .story .story__item .story__top .story__item__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    letter-spacing: 0;
  }
  .story .story__item .story__top ul {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    letter-spacing: 0;
    margin-top: 18px;
    margin-left: -6px;
  }
  .story .story__item .story__top ul li::before {
    top: 8px;
    left: -14px;
  }
  .story .story__item .story__actions {
    width: 123px;
    height: 26px;
  }
  .story .story__item .story__actions .story__links {
    display: none;
  }
  .story .story__item .story__actions .story__btn {
    margin-left: 30px;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0;
    padding: 0;
  }
  .story .story__item .story__actions .story__btn::after {
    margin-top: -1px;
    margin-left: 16px;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.invite {
  padding: 135px 574.5px;
  padding-top: 0;
  display: flex;
  align-items: center;
}
.invite img {
  width: 370px;
  height: 370px;
  border-radius: 50px;
  margin-right: 30px;
}
.invite p {
  color: #A6A6A6;
}
.invite a {
  color: #1B1F2B;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}
.invite a:hover {
  text-decoration: underline;
}
.invite a:active {
  text-decoration: underline;
  color: #286562;
}
.invite h3 {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .invite {
    padding: 0 126.5px 135px 126.5px;
  }
}
@media (max-width: 360px) {
  .invite {
    width: 360px;
    padding: 75px 34.5px;
    display: block;
  }
  .invite img {
    width: 130px;
    display: block;
    height: 133px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .invite h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 23px;
    line-height: 121%;
    letter-spacing: 0.9px;
    text-align: center;
    margin-bottom: 20px;
  }
  .invite p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0%;
    text-align: center;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}

.footer {
  display: flex;
  padding: 30px 376px;
  background-color: #F4F0E9;
  justify-content: space-between;
  width: 1920px;
  height: 88px;
}
.footer .footer__content {
  color: #A6A6A6;
}
.footer .footer__links {
  display: flex;
  align-items: center;
  width: 404px;
  height: 28px;
  justify-content: space-between;
}
.footer .footer__links a {
  color: #1B1F2B;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.footer .footer__links a:hover {
  text-decoration: underline;
}
.footer .footer__links a:active {
  text-decoration: underline;
  color: #286562;
}
.footer .footer__links a img {
  margin-right: 10px;
}
.footer .footer__links .f-a:first-child {
  margin-left: -1px;
}

@media (max-width: 1024px) {
  .footer {
    width: 1024px;
    padding: 30px 53px;
  }
}
@media (max-width: 360px) {
  .footer {
    width: 360px;
    display: block;
    padding: 21px 21.5px;
    padding-top: 22px;
  }
  .footer .footer__content {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
  .footer .footer__links {
    width: 313px;
  }
  .footer .footer__links a {
    margin-left: 12px;
    margin-top: 9px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
  }
  .footer .footer__links a img {
    margin-right: 3px;
  }
  .footer .footer__links .f-a:first-child {
    margin-left: 3px;
    margin-top: 5px;
  }
  .footer .footer__links .f-a:first-child img {
    margin-right: 7px;
  }
  .footer .footer__links .f-a:last-child {
    margin-left: 12px;
  }
  .footer .footer__links .f-a:last-child img {
    margin-right: 3px;
  }
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 1.75px;
}

h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -1px;
}/*# sourceMappingURL=style.css.map */